/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* for smaller screens */

body {
	font-family: "Montserrat", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.container {
	width: 100%;
	margin: 0;
}

.global-nav ul {
	display: flex;
	flex: auto;
	margin: 0;
	padding-left: 0;
	grid-row: 1/2;
}

.global-nav li {
	flex: 3 1 300px;
	list-style-type: none;
	text-align: center;
	margin: 0;
	background: #530707;
}

.global-nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	transition: all 0s;
	font-size: 10px;
}

.global-nav a:hover {
	color: #fac5c5;
}

.home-body {
	margin: 0;
}

.title1 {
	grid-row: 2/3;
	color: white;
	padding-left: 0.5em;
	padding-top: 3.1em;
	font-size: 33px;
	margin: 0;
	background-color: #530707;
	font-style: 400;
}

.title2 {
	color: #530707;
	text-align: right;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	font-size: 33px;
	margin: 0;
	font-style: 400;
}

.deets {
	text-align: left;
	padding-left: 2em;
	border-left: 5px solid #530707;
	margin-left: 4em;
	margin-bottom: 3em;
	margin-right: 2em;
	margin-top: 6em;
	font-size: 10px;
}

.speakers1 {
	grid-row: 2/3;
	color: white;
	font-size: 30px;
	padding-left: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.25em;
	margin: 0;
	background-color: #530707;
	font-style: 400;
}

.speakers2 {
	color: #530707;
	font-size: 25px;
	padding-bottom: 1em;
	padding-top: 3em;
	padding-left: 0.5em;
	margin: 0;
	font-style: 400;
}

div.featured {
	font-size: 9px;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0;
}

.brown {
	grid-row: auto;
	padding: 1em;
}

.tillman {
	grid-row: auto;
	padding: 1em;
}

.udagawa {
	grid-row: auto;
	padding: 1em;
}

.kare {
	grid-row: auto;
	padding: 1em;
}

.felaco {
	grid-row: auto;
	padding: 1em;
}

.gold {
	grid-row: auto;
	padding: 1em;
}

.monteiro {
	grid-row: auto;
	padding: 1em;
}

.head {
	grid-row: auto;
	padding: 1em;
}

.schedule1 {
		color: white;
		padding-left: 0.5em;
		padding-top: 1em;
		padding-bottom: 0.25em;
		font-size: 30px;
		margin:0;
		background-color: #530707;
		font-style: 400;
}

.date1 {
	color: #530707;
	font-size: 20px;
	padding-bottom: 1em;
	padding-top: 3em;
	padding-left: 0.5em;
	margin: 0;
	font-style: 400;
}

.date2 {
	color: #530707;
	font-size: 20px;
	padding-bottom: 1em;
	padding-top: 3em;
	padding-left: 0.5em;
	margin: 0;
	font-style: 400;
}

.talk1 {
	grid-column: 1/2;
	padding: 2em;
	background: #fac5c5;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 13px;
}

.talk2 {
	grid-column: 2/3;
	padding: 2em;
	background: #fac5c5;
	margin: 1em;
	font-size: 13px;
}

.talk3 {
	grid-column: 3/4;
	padding: 2em;
	background: #fac5c5;
	margin: 1em;
	font-size: 13px;
}

.travel1 {
	color: white;
	padding-left: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.25em;
	font-size: 30px;
	margin:0;
	background-color: #530707;
	font-style: 400;
}

.parking {
	font-size: 10px;
	grid-row: 1/2;
	padding: 2em;
}

.mobile-map {
	grid-row: 2/3;
	position: static;
	text-align: center;
	height: 480px;
	width: 320px;
	padding-left: 1em;
	padding-right: 2em;
}

.registration1 {
	color: white;
	padding-left: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.25em;
	font-size: 30px;
	margin:0;
	background-color: #530707;
	font-style: 400;
}

table {
	color: #530707;
	font-size: 10px;
	font-style: normal;
	border-collapse: collapse;
	margin: 2em;
}

table.inner {
	border: 0px;
}

.disclaimer {
	padding: 2em;
}


/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (min-width: 720px) {

	body {
		font-family: "Montserrat", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5em;
		color: #222;
	}

	.container {
		width: 100%;
		margin: 0;
		display: grid;
	}

	.global-nav ul {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding-left: 0;
	}

	.global-nav li {
		flex: 3 1 300px;
		list-style-type: none;
		text-align: center;
		padding-top: 4em;
		padding-bottom: 2em;
		background: #530707;
	}

	.global-nav a {
		display: block;
		color: #fff;
		text-decoration: none;
		transition: all 0s;
		font-size: 16px;
	}

	.global-nav a:hover {
		color: #fac5c5;
	}

	.home-body {
		margin: 0;
	}

	.title1 {
		color: white;
		padding-left: 0.5em;
		padding-top: 1em;
		padding-bottom: 0.25em;
		font-size: 120px;
		margin:0;
		background-color: #530707;
		font-style: 400;
	}

	.title2 {
		color: #530707;
		text-align: right;
		padding-right: 0.5em;
		padding-top: 0.24em;
		padding-bottom: 0.25em;
		font-size: 120px;
		margin:0;
		font-style: 400;
	}

	.deets {
		font-size: 15px;
		text-align: left;
		padding-left: 3em;
		border-left: 5px solid #530707;
		margin-left: 6em;
		margin-bottom: 3em;
		margin-top: 5em;
	}

	.speakers1 {
		color: white;
		padding-left: 0.5em;
		padding-top: 1em;
		padding-bottom: 0.25em;
		font-size: 120px;
		margin:0;
		background-color: #530707;
		font-style: 400;
	}

	.speakers2 {
		color: #530707;
		font-size: 50px;
		padding-bottom: 1em;
		padding-top: 3em;
		padding-left: 0.5em;
		margin: 0;
		font-style: 400;
	}

	div.featured {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		font-size: 13px;
		margin-left: 1em;
		margin-right: 1em;
		margin-top: 0;
	}

	.brown {
		grid-column: 1/2;
		grid-row: 1/2;
		padding: 1em;
	}

	.tillman {
		grid-column: 1/2;
		grid-row: 2/3;
		padding: 1em;
	}

	.udagawa {
		grid-column: 1/2;
		grid-row: 3/4;
		padding: 1em;
	}

	.kare {
		grid-column: 1/2;
		grid-row: 4/5;
		padding: 1em;
	}

	.felaco {
		grid-column: 3/4;
		grid-row: 1/2;
		padding: 1em;
	}

	.gold {
		grid-column: 3/4;
		grid-row: 2/3;
		padding: 1em;
	}

	.monteiro {
		grid-column: 3/4;
		grid-row: 3/4;
		padding: 1em;
	}

	.head {
		grid-column: 3/4;
		grid-row: 4/5;
		padding: 1em;
	}

	.schedule1 {
			color: white;
			padding-left: 0.5em;
			padding-top: 1em;
			padding-bottom: 0.25em;
			font-size: 120px;
			margin:0;
			background-color: #530707;
			font-style: 400;
	}

	.date1 {
		color: #530707;
		font-size: 50px;
		padding-bottom: 1em;
		padding-top: 3em;
		padding-left: 0.5em;
		margin: 0;
		font-style: 400;
	}

	div.fri {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 2em;
	}

	.talk1 {
		grid-column: 1/2;
		padding: 2em;
		background: #fac5c5;
		margin-left: 1em;
		margin-right: 1em;
	}

	.talk2 {
		grid-column: 2/3;
		padding: 2em;
		background: #fac5c5;
		margin: 1em;
	}

	.talk3 {
		grid-column: 3/4;
		padding: 2em;
		background: #fac5c5;
		margin: 1em;
	}

	.date2 {
		color: #530707;
		font-size: 50px;
		padding-bottom: 1em;
		padding-top: 4em;
		padding-left: 0.5em;
		margin: 0;
		font-style: 400;
	}

	div.sat {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.travel1 {
		color: white;
		padding-left: 0.5em;
		padding-top: 1em;
		padding-bottom: 0.25em;
		font-size: 120px;
		margin: 0;
		background-color: #530707;
		font-style: 400;
	}

	div.travel-info {
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		grid-template-rows: 1fr 1fr;
	}

	.parking {
		font-size: 15px;
		grid-column: 2/3;
		grid-row: 1/2;
		padding: 2em;
	}

	.mobile-map {
		grid-column: 1/2;
		grid-row: 1/2;
		position: relative;
		text-align: center;
		height: 500px;
		width: 800px;
		padding: 2em;
	}

	.registration1 {
		color: white;
		padding-left: 0.5em;
		padding-top: 1em;
		padding-bottom: 0.25em;
		font-size: 120px;
		margin:0;
		background-color: #530707;
		font-style: 400;
	}

	table {
		color: #530707;
	  font-size: 15px;
	  font-style: normal;
	  border-collapse: collapse;
		margin-top: 4em;
	}

	table.inner {
	  border: 0;
	}

	.disclaimer {
		font-size: 15px;
		grid-column: 1/2;
		grid-row: 4/5;
		padding-top: 4em;
		text-align: right;
		padding-right: 2em;
	}


} /* end media query */
